@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.herobwa h1 {
    font-weight: bold;
}

.herobwa p {
    font-weight: lighter;
}

.my-btn-primary {
    background: #FF9900;
    color: #fff;
    border: 0;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.my-btn-primary:hover {
    background: #dd8500;
    color: #fff;
}

.my-btn-navin {
    border: 1px solid #ccc;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
}

.my-btn-navin:hover {
    border: 1px solid #aaaaaa;
}

.my-btn-navup {
    background: #FF9900;
    border: 1px solid #FF9900;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.my-btn-navup:hover {
    background: #dd8500;
    color: #fff;
}

.my-bg-primary {
    background: #FF9900;
}

.tools {
    background-color: rgba(255, 153, 0, 0.1);
}

.my-card {
    background: none;
    border: 0;
}

.my-card a {
    text-decoration: none;
    color: #000;
}

.my-card a:hover {
    color: #FF9900;
}

.my-rounded {
    border: none;
    width: 50px;
    padding: 10px 10px;
    border-radius: 12px;
}

.bg-test1 {
    background-color: #7625c2;
    box-shadow: 6px 6px 2px 0 rgba(118, 37, 194, 0.2);
}

.bg-test2 {
    background-color: #FF9900;
    box-shadow: 6px 6px 2px 0 rgba(255, 153, 0, 0.2);
}

.bg-test3 {
    background-color: #dd2d2d;
    box-shadow: 6px 6px 2px 0 rgba(221, 45, 45, 0.2);
}

.bg-test4 {
    background-color: #2bbffa;
    box-shadow: 6px 6px 2px 0 rgba(43, 191, 250, 0.2);
}

.my-text-small {
    font-size: 0.8rem;
}

.marketing .owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.marketing .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.marketing .owl-carousel .owl-dots .owl-dot span {
    background-color: #ff990059;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 50px 3px;
} 

.marketing .owl-carousel .owl-dots .owl-dot.active span,
.marketing .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #FF9900;
}

footer {
    background-color: rgba(255, 153, 0, 0.1);
}

footer a {
    text-decoration: none;
    color: #FF9900;
}

footer a:hover {
    color: #dd8500;
}

footer form {
    display: inline;
}

footer form input {
    width: 100%;
    padding: 8px 15px;
    border: 3px solid #dddddd;
}

footer form input::placeholder {
    color: #dddddd;
}

footer form button {
    display: inline-block;
    width: 50%;
    padding: 8px 20px;
    font-weight: bold;
    background: #FF9900;
    border: 1px solid #FF9900;
    color: #fff;
    border-radius: 4px;
}